body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    flex: 1 1 auto;
    padding: 0px;
    height: 100%;
    width: 0px; 
    border-radius: 40%;
    font-size: 30px;
    border: none;
    box-shadow: 0px 3px 3px #86807d;
    color: #352D2A;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid black 1px;*/
    padding: 20px;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    background-color: #A89F94;
}

/*
.inner-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
*/

.display {
    color: #352D2A;
    background-color: #A89085;
    border-radius: 10px 10px 0px 0px;
    width: calc(103% + 20px);
    height: 40%;
    margin: -20px -20px 1.3rem -20px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 50px;
    padding-right: 10px;
    box-shadow: 0px 3px 5px #86807d;
}

.button-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.row {
    flex: 1 1 0;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.empty {
    visibility: hidden;
}

.digit {
    background-color: #DFD9D4;
}

.operator {
    background-color: #97877F;
}

#clear {
    background-color: #E49E7E;
    font-weight: 525;
    color: black;
}

#evaluate {
    background-color: #E49E7E;
    font-weight: bolder;
    color: black;
}

#backspace {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
    font-weight: 900;
    background-color: #DFD9D4;

}

#decimal {
    display: flex;
    justify-content: center;
    background-color: #DFD9D4;

}


